{% extends '_layout.html' %}

{% block body %}
<body background="https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80">

    <form class="form-signin">
        <center><h2 style="color: brown; font-family:Elephant">Hello Welcome</h2></center><br>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="input" id="username" class="form-control" placeholder="Username" required autofocus><br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required><br>

        <div class="checkbox"></div>
        <input type="hidden" id="nextURL" class="form-control" value="">
        <button class="btn btn-lg btn-primary btn-block" id="loginbtn" type="button">Sign in</button>

        <!--<div id="loader text-center"></div>-->
    </form>
{% endblock %}